@import "animations";

.footer {
  position: absolute;
  right: 50px;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  ul {
    list-style: none;
    li{
      display: inline;
      font-size:1.2em;
      i {
        font-size:2em;
        color:grey;
        opacity: 0;
        //animation: from-left 2s forwards;
        animation-delay:2s;
        &:hover {
          transition: color 1s;
          color:lightblue;
        }
      }
    }

    .fa-facebook{
      animation: from-left 2s forwards;
      animation-delay:1s;
    }
    .fa-twitter{
      animation: from-left 2s forwards;
      animation-delay:1.5s;
    }
    .fa-instagram{
      animation: from-left 2s forwards;
      animation-delay:2s;
    }
    .fa-soundcloud{
      animation: from-left 2s forwards;
      animation-delay:2s;
    }.fa-spotify{
      animation: from-left 2s forwards;
      animation-delay:2s;
    }
  }
  a.copy {
    color:grey;
    //text-align: left;
    // padding:20px;
    opacity:0.5;
    font-size:0.3em;
    font-family:helvetica;
    transition:color 0.5s;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color:lightgrey;
    }
  }
}
