@media (max-width: 700px) {
  .nav {
      position: absolute;
      font-size: 1em;
      right:7px;
      ul {
        padding:0px 15px;
         li {
           //padding:10px 30px;
           //margin-left:60px;
           a.active {
              border-bottom:none;
              padding: 0px;
          }
       }
    }
  }
}

@media (min-width: 700px) {
  .nav {
    right:30px;
  }
}
.nav {
  position: fixed;
  margin:0 auto;
  float:center;
  //right:30px;
  top:0px;
  //margin-top:100px;
  transition: background 1s;
  line-height: 25px;
  width:100%;
  z-index:100;
  font-family: 'Archivo Narrow', sans-serif;
  ul {
    display:block;
    list-style: none;
    li {
      display:inline-block;
      margin-top:15px;
        a {
        color:white;
        font-size: 1.1em;
        text-decoration: none;
        transition: padding 0.5s;
        &:hover {
          //border-bottom:white 1px solid;
          //font-size: 1.2em;
        }
      }
      .active {
            border-bottom:red 1px solid;
            padding: 1px 16px;
      }
    }
  }
}
