
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

body {
  background: #2A2627;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  color:white;
  //overflow:hidden;
  margin-top:-30px;
  .push-small {
    height:2em;
  }
  .push-xl {
    height:10em;
  }
}

@import 'nav';

@import 'home';

@import 'gallery';

.page-heading {
  margin-bottom:50px;
}

@import 'bio';

@import 'contact';


@import 'footer';

.col-xs-12, col-sm-4 {
  padding: 0px;
}
