@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes from-left {
  0% {
    transform: translateX(-10px);
    opacity: 0; }
  100% {
    transform: translateX(10px);
    opacity: 1; } }

@keyframes shift-up {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  100% {
    transform: translateY(10px);
    opacity: 1; } }

.footer {
  position: absolute;
  right: 50px;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center; }
  .footer ul {
    list-style: none; }
    .footer ul li {
      display: inline;
      font-size: 1.2em; }
      .footer ul li i {
        font-size: 2em;
        color: grey;
        opacity: 0;
        animation-delay: 2s; }
        .footer ul li i:hover {
          transition: color 1s;
          color: lightblue; }
    .footer ul .fa-facebook {
      animation: from-left 2s forwards;
      animation-delay: 1s; }
    .footer ul .fa-twitter {
      animation: from-left 2s forwards;
      animation-delay: 1.5s; }
    .footer ul .fa-instagram {
      animation: from-left 2s forwards;
      animation-delay: 2s; }
    .footer ul .fa-soundcloud {
      animation: from-left 2s forwards;
      animation-delay: 2s; }
  .footer a.copy {
    color: grey;
    opacity: 0.5;
    font-size: 0.3em;
    font-family: helvetica;
    transition: color 0.5s;
    text-decoration: none; }
    .footer a.copy:hover {
      text-decoration: none;
      color: lightgrey; }
