@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes from-left {
  0% {
    transform: translateX(-10px);
    opacity: 0; }
  100% {
    transform: translateX(10px);
    opacity: 1; } }

@keyframes shift-up {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  100% {
    transform: translateY(10px);
    opacity: 1; } }

.gallery {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 500;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  .gallery li {
    list-style: none; }
  .gallery img {
    width: 100%;
    transition: opacity 1s;
    animation: show 1s; }
    .gallery img:hover {
      opacity: 0.6; }
  .gallery .likes {
    position: absolute;
    margin-top: -50px;
    margin-left: 20px;
    transition: color 1s;
    color: white; }
    .gallery .likes:hover {
      color: red; }
