@media (max-width: 700px) {
  .nav {
    position: relative;
    left: -10px;
    font-size: 1em; }
    .nav ul li {
      padding: 1px -50px; }
      .nav ul li a.active {
        border-bottom: none;
        padding: 0px; } }

.nav {
  position: absolute;
  margin: 0 auto;
  float: center;
  top: 10px;
  line-height: 25px;
  width: 100%;
  z-index: 999;
  font-family: 'Archivo Narrow', sans-serif; }
  .nav ul {
    display: block;
    list-style: none; }
    .nav ul li {
      display: inline-block; }
      .nav ul li a {
        color: white;
        font-size: 1.1em;
        text-decoration: none;
        padding: 10px 30px;
        transition: font-size 0.2s;
        transition: padding 0.5s; }
      .nav ul li .active {
        border-bottom: red 1px solid;
        padding: 10px 13px; }
