@media (max-width: 700px) {
  .nav {
    position: absolute;
    font-size: 12px;
    right: 7px; }
    .nav ul {
      padding: 20px 15px; }
      .nav ul li a.active {
        border-bottom: none;
        padding: 0px; }
      .nav ul #logo {
        position: absolute;
        margin: -15px 10px 20px -18px;
        width: 100%; }
        .nav ul #logo img {
          width: 60px; } }

@media (min-width: 700px) {
  .nav {
    right: 30px; } }

.nav {
  position: fixed;
  margin: 0 auto;
  float: center;
  height: 80px;
  top: 0px;
  transition: background 1.2s;
  line-height: 25px;
  width: 100%;
  z-index: 100;
  font-family: 'Lora', serif; }
  .nav ul {
    display: block;
    list-style: none; }
    .nav ul li {
      display: inline-block;
      margin-top: 15px; }
      .nav ul li a {
        color: white;
        font-size: 1.1em;
        text-decoration: none;
        transition: padding 0.5s; }
      .nav ul li .active {
        border-bottom: red 1px solid;
        padding: 1px 13px; }
  .nav #logo {
    position: absolute;
    margin: 4px 10px 1px -23px;
    width: 100%; }
    .nav #logo img {
      width: 120px; }
