@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
body {
  background: #2A2627;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-top: -30px; }
  body .push-small {
    height: 2em; }
  body .push-xl {
    height: 10em; }

.nav {
  position: fixed;
  margin: 0 auto;
  float: center;
  height: 80px;
  top: 0px;
  right: 0px;
  transition: background 1.2s;
  line-height: 25px;
  width: 100%;
  z-index: 100;
  font-family: 'Lora', serif; }
  .nav ul {
    display: block;
    list-style: none;
    right: 30px;
    position: relative; }
    .nav ul li {
      display: inline-block;
      margin-top: 15px; }
      .nav ul li a {
        color: white;
        font-size: 1.1em;
        text-decoration: none;
        transition: padding 0.5s; }
      .nav ul li .active {
        border-bottom: red 1px solid;
        padding: 1px 13px; }
  .nav #logo {
    position: absolute;
    margin: 4px 10px 1px -25px;
    width: 100%;
    top: -10px; }
    .nav #logo img {
      width: 140px; }

@media (max-width: 800px) {
  .nav {
    position: absolute;
    font-size: 12px;
    right: -20px; }
    .nav ul {
      padding: 20px 15px; }
      .nav ul li a.active {
        border-bottom: none;
        padding: 0px; }
      .nav ul #logo {
        position: absolute;
        margin: 8px 10px 20px -18px;
        width: 100%; }
        .nav ul #logo img {
          width: 80px; } }

@media (max-width: 450px) {
  .nav ul {
    position: relative; }
    .nav ul #logo {
      position: absolute;
      top: 0px;
      margin: 8px 10px 20px -18px;
      width: 100%; }
      .nav ul #logo img {
        width: 60px; } }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes from-left {
  0% {
    transform: translateX(-10px);
    opacity: 0; }
  100% {
    transform: translateX(10px);
    opacity: 1; } }

@keyframes shift-up {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  100% {
    transform: translateY(10px);
    opacity: 1; } }

.main-image {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  animation: show 3s;
  z-index: 999; }
  .main-image img {
    height: 80vh;
    width: 42%; }

#video {
  animation: shift-up 2s forwards;
  opacity: 0; }
  #video a {
    color: grey;
    font-family: 'Lora', serif;
    font-size: 1.3em;
    transition: all 1s;
    text-decoration: none;
    font-size: 1.3em; }
    #video a:hover {
      font-size: 1.29em;
      color: lightgrey;
      text-decoration: none; }

@media screen and (max-width: 950px) {
  .main-image {
    width: 100%; }
    .main-image img {
      width: 60%; } }

@media screen and (max-width: 700px) {
  .main-image {
    width: 100%;
    margin: 0 auto;
    overflow: hidden; }
    .main-image img {
      width: 80%; } }

@media screen and (max-width: 400px) {
  .main-image {
    width: 100%;
    margin: 0 auto;
    height: 90vh;
    overflow: hidden; }
    .main-image img {
      width: 100%; }
  #video {
    color: grey;
    position: relative;
    top: -90px;
    font-family: 'Lora', serif;
    transition: all 1s;
    font-size: 1em; } }

.push-small {
  height: 1em; }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes from-left {
  0% {
    transform: translateX(-10px);
    opacity: 0; }
  100% {
    transform: translateX(10px);
    opacity: 1; } }

@keyframes shift-up {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  100% {
    transform: translateY(10px);
    opacity: 1; } }

.gallery {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 500;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  .gallery li {
    list-style: none; }
  .gallery img {
    width: 100%;
    transition: opacity 1s;
    animation: show 1s; }
    .gallery img:hover {
      opacity: 0.6; }
  .gallery .likes {
    position: absolute;
    margin-top: -50px;
    margin-left: 20px;
    transition: color 1s;
    color: white; }
    .gallery .likes:hover {
      color: red; }

.page-heading {
  margin-bottom: 50px; }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes from-left {
  0% {
    transform: translateX(-10px);
    opacity: 0; }
  100% {
    transform: translateX(10px);
    opacity: 1; } }

@keyframes shift-up {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  100% {
    transform: translateY(10px);
    opacity: 1; } }

.bio {
  width: 100%;
  animation: show 1s; }
  .bio .about {
    width: 65%;
    font-family: 'Lora', serif;
    font-size: 1.2em;
    line-height: 40px;
    margin: 0 auto; }

.contact {
  width: 100%;
  font-family: 'Lora', serif;
  font-size: 1.2em;
  animation: show 1s; }
  .contact a {
    color: white;
    text-decoration: none; }
    .contact a:hover {
      color: #d3d3d3; }
  .contact #subscribe-now {
    font-family: 'Lora', serif;
    font-weight: 400; }

@media (max-width: 700px) {
  .information {
    width: 100%; } }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes from-left {
  0% {
    transform: translateX(-10px);
    opacity: 0; }
  100% {
    transform: translateX(10px);
    opacity: 1; } }

@keyframes shift-up {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  100% {
    transform: translateY(10px);
    opacity: 1; } }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em; }

.footer, .push-large {
  height: 3em; }
  .footer .social, .push-large .social {
    display: inline; }
    .footer .social li, .push-large .social li {
      display: inline-block;
      position: relative;
      top: -10px;
      padding: 5px 50px;
      z-index: 1010;
      left: -5px; }
    .footer .social i, .push-large .social i {
      font-size: 2em;
      color: grey;
      opacity: 0;
      animation-delay: 2s; }
      .footer .social i:hover, .push-large .social i:hover {
        transition: color 1s;
        color: lightblue; }
    .footer .social .fa-facebook, .push-large .social .fa-facebook {
      animation: from-left 2s forwards;
      animation-delay: 1s; }
    .footer .social .fa-twitter, .push-large .social .fa-twitter {
      animation: from-left 2s forwards;
      animation-delay: 1.5s; }
    .footer .social .fa-instagram, .push-large .social .fa-instagram {
      animation: from-left 2s forwards;
      animation-delay: 2s; }
  .footer a.copy, .push-large a.copy {
    color: grey;
    padding: 20px;
    opacity: 0.5;
    font-size: 0.3em;
    font-family: helvetica;
    transition: color 0.5s;
    text-decoration: none; }
    .footer a.copy:hover, .push-large a.copy:hover {
      text-decoration: none;
      color: lightgrey; }

@media (max-width: 700px) {
  .footer .social li {
    top: -10px;
    left: -20px;
    padding: 0px 34px; } }

@media screen and (max-width: 400px) {
  .footer .social li {
    top: -100px;
    position: relative;
    left: -20px;
    padding: 0px 34px; } }

.col-xs-12, col-sm-4 {
  padding: 0px; }
